// media ----------------------
img,
video,
svg
  max-width 100%
// default logo ---------------
.site-logo
	width 180px
	height 82px
.logo-group
	fill cream
.parachute
	fill paleBlue
// Callout --------------------
.callout
	color cream
	font-family fontSecondary
	text-align center
	background accent
	double-border(3px, accent, 6px, cream)
	full-radius(40px)
	padding 1em 2em