// input defaults -----------------
input[type='text'],
input[type='email'],
input[type='tel'],
textarea
	-webkit-appearance none
	-moz-appearance none
	appearance none
	color darkBlue
	border 1px solid blue
	background cream
	padding 1em
	margin 0.5em 0
	border-radius 0
	&:focus
		outline-color blue

// placeholders -----------------
input::placeholder,
textarea::placeholder
	color alpha(darkBlue,60%)
	font-family fontSecondary
	antialiased()

// buttons defaults -----------------
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	btn()
	transition-all()
	padding 1em
	cursor: pointer
	border: 0
	border-radius 0
	
// signup forms -----------------
.signup
	font-size 1.3125rem
	display flex
	flex-flow row wrap
	+breakpoint(minphablet)
		font-size 1.7rem
	input
		margin 0
		text-align center
	input[type='email']
		flex 3 0 auto
	input[type='submit']
		flex 1 2 auto
	label
		screen-reader()
// signup bottom
.optin-dark .signup
	input[type='email']
		color cream
		background transparent
		border-color cream
		&:focus
			outline-color cream
		&::placeholder
			color paleBlue
	input[type='submit']
		color blue
		background cream
		&:hover
			background lighten(lightBlue, 20)