// Hero ---------------------------
.hero
	background teal url('img/bg-crash-1.jpg') center/cover no-repeat
	text-align center
	padding vert-space 0
	padding-bottom 0
	position relative
	overflow hidden
	display flex
	flex-flow column nowrap
	+breakpoint(minphablet)
		padding vert-space*3 0
		padding-bottom 0
	.mask
		margin-top vert-space
		display flex
		align-items baseline
		justify-content center
		img
			display block
			margin auto
			min-width 110%
			// min-width 110%
.hero-logo
	display block
	margin auto
	+breakpoint(minphablet)
		width 60%
		height auto
.tagline
	color tealPale

// Header ---------------------------
.site-header
	background teal
	border 1px solid
	padding 1.875rem 0
	.wrapper
		display flex
		justify-content space-between
		align-items center
		// border 1px solid gray
.site-header-logo
	width 180px
	height 82px
	.logo-group
		transform translateX(-170px)
		transition all 0.2s ease-in-out
	.proposal, .fix
		opacity 0
		transition all 0.2s ease-in-out
		transition-delay 0.2s
	&:hover .logo-group
		transform translateX(0px)	
	&:hover .proposal,
	&:hover .fix
		opacity 1