// General ------------------------
.module
	// border 1px dotted lightgrey
section
	// border 1px solid pink

// Hero ---------------------------
.hero
	background teal url('img/bg-crash-1.jpg') center/cover no-repeat
	text-align center
	padding vert-space 0
	padding-bottom 0
	position relative
	overflow hidden
	display flex
	flex-flow column nowrap
	+breakpoint(minphablet)
		padding vert-space*3 0
		// padding vert-space*3 0
		padding-bottom 0
	.mask
		display flex			
		align-items baseline
		justify-content center
		position relative
		+breakpoint(minphablet)
			margin-top vert-space
		&::after
			content ''
			position absolute
			bottom -1px
			height 2px
			width 100%
			display block
			background cream
		img
			display block
			margin auto
			min-width 110%
.hero-logo
	display block
	margin auto
	+breakpoint(minphablet)
		width 60%
		height auto
.tagline
	color tealPale
	fz-large()

// Header ---------------------------
.site-header
	background teal
	border 1px solid
	padding 1.875rem 0
	.wrapper
		display flex
		justify-content space-between
		align-items center
		// border 1px solid gray
.site-header-logo
	width 180px
	height 82px
	.logo-group
		transform translateX(-170px)
		transition all 0.2s ease-in-out
	.proposal, .fix
		opacity 0
		transition all 0.2s ease-in-out
		transition-delay 0.2s
	&:hover .logo-group
		transform translateX(0px)	
	&:hover .proposal,
	&:hover .fix
		opacity 1
		
// Optins ---------------------------
.optin
	text-align center
.optin-dark
	background teal url('img/bg-crash-2.jpg') center/cover no-repeat
	color cream
	padding vert-space 0
	+breakpoint(mintablet)
		padding vert-space*2.5
	margin-bottom 0
	.module-title
		color cream
		
// about ----------------------------
.about-content
	+breakpoint(mintablet)
		display flex
		flex-flow row nowrap
		justify-content space-between
.about-image
	text-align center
.about-text {
	flex-basis 65%;
}
.profile-pic
	border-radius 50%
	max-width 200px
	transition-all()
	+breakpoint(minphablet)
		max-width 240px

// blue box container  ------------------
.boxed
	fz-small()
	box()
	padding 2em
	+breakpoint(minphablet)
		padding 2em 3em
	+breakpoint(minlaptop)
		padding 4em 6em