// Main nav ---------------------------
.main-nav
	ul
		list-style none
		margin 0
		padding 0
		display flex
		justify-content flex-end
		li
			margin-left 2.5rem
			margin-bottom 0
			a
				font-size 1.375rem
				padding 1.5em
				text-decoration none
				color paleBlue
				font-family fontSecondary
				&:hover
					color cream
		.cta a
			color blue
			background paleBlue
			padding 0.6em 1em
			double-border(2px, paleBlue, 4px, blue)
			full-radius(8px)
			&:hover
					background blue
					color cream