// Main nav ---------------------------
.main-nav
	ul
		list-style none
		margin 0
		padding 0
		display flex
		justify-content flex-end
		li
			margin-left 2.5rem
			margin-bottom 0
			a
				font-size 1.375rem
				padding 1.5em
				text-decoration none
				color tealPale
				font-family fontSecondary
				&:hover
					color cream
		.cta a
			color teal
			background tealPale
			padding 0.6em 1em
			double-border(2px, tealPale, 4px, teal)
			full-radius(8px)
			&:hover
					background teal
					color cream