// Defaults ---------------------------
html
	font-size 100%
body
	font-family fontMain
	font-size 1.125rem
	line-height 1.5
	color blue
	background cream
	transition font-size 0.5s ease-in-out
	+breakpoint(minphablet)
		font-size 1.3125rem
		// font-size 1.375rem
		// font-size 1.5rem
		// line-height 1.65
	
// Headers -----------------
h1, h2, h3, h4
	font-family fontMainBold
	font-weight normal
h1
	font-size 2.625rem // 42px
h2
	font-size 2.25rem // 36px
h3
	font-size 2rem // 32px
h4
	font-size 1.25rem // 20px

// titles ------------------
.site-title
	screen-reader()

// General -----------------
strong
	font-family fontMainBold
	font-weight normal

// lists -------------------
ul
	padding 0
	margin 2em 0
	li
		margin-bottom 0.7em
		margin-left 1.3em
