// =================================
// VARIABLES
// =================================

// colors ------------------------
cream 		= #FCFCF6
creamDark = #EBF0ED
darkBlue 	= #41637B
lightBlue =	#A6B5BF
blue 			= #288FB4
paleBlue 	= #B0DAE3
accent 		= #F06F59

// Typography -------------------

fontMain = 'AvenirNextLTW01-Medium', "Helvetica Neue", Helvetica, Arial, sans-serif
fontMainBold = 'Avenir Next LT W04 Bold', "Helvetica Neue", Helvetica, Arial, sans-serif
fontMainItalic = 'AvenirNextLTW01-MediumI_721278', "Helvetica Neue", Helvetica, Arial, sans-serif
fontSecondary = 'Ahkio W00 Light', 'Chalkboard', "Brush Script MT", 'Comic Sans MS', sans-serif;

// Layout -----------------------
// module vertical space
vert-space = 2.5rem //40px

