@import '_normalize.styl'
@import 'jeet'
@import '_variables.styl'
@import '_typography.styl'

edit()

// Defaults ---------------------------
html
	font-size 10px
body
	font-family fontMain
	font-size 1.8rem
	line-height 1.5
	color blue
	background cream
	
// Layout ---------------------------
.wrapper
	siteWidth()
		
// Optins ---------------------------
.optin
	text-align center
	
.description
	box()
	padding 0 17.03125%