@import '_normalize.styl'
@import 'jeet'
@import '_variables.styl'
@import '_mixins.styl'
@import '_typography.styl'

// edit()

// Defaults ---------------------------
html
	font-size 100%
body
	// -webkit-font-smoothing antialiased
	font-family fontMain
	font-size 1.25rem
	line-height 1.5
	color blue
	background cream

// Layout ---------------------------
.wrapper
	max-width 960px
	margin 0 auto
	
section
	padding 6.25rem 0
	
// logo ---------------------------
.site-logo
	background steelblue
	width 180px
	height 82px
.logo-group
	fill cream
.parachute
	fill tealPale
	
// Hero ---------------------------
.hero
	background teal
	text-align center
	height 100vh
	
// Header ---------------------------
.site-header
	background teal
	border 1px solid
	padding 1.875rem 0
	.wrapper
		display flex
		justify-content space-between
		align-items center
		// border 1px solid gray
.site-header-logo
	width 180px
	height 82px
	.logo-group
		transform translateX(-170px)
		transition all 0.2s ease-in-out
	.proposal, .fix
		opacity 0
		transition all 0.2s ease-in-out
		transition-delay 0.2s
	&:hover .logo-group
		transform translateX(0px)	
	&:hover .proposal,
	&:hover .fix
		opacity 1	

// Main nav ---------------------------
.main-nav
	ul
		list-style none
		margin 0
		padding 0
		display flex
		justify-content flex-end
		li
			margin-left 2.5rem
			margin-bottom 0
			a
				font-size 1.375rem
				padding 1.5em
				text-decoration none
				color tealPale
				font-family fontSecondary
				&:hover
					color cream
		.cta a
			color teal
			background tealPale
			padding 0.6em 1em
			doubleBorder(2px, tealPale, 4px, teal)
			fullRadius(8px)
			&:hover
					background teal
					color cream
					
// Optins ---------------------------
.optin
	text-align center
.optin-bottom
	background teal
	color cream
	
.description
	font-size fz-small
	box()
	padding 6.25rem 10.125rem