<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="style.min.css")
	script(type="text/javascript", src="//fast.fonts.net/jsapi/e41465cd-078e-4596-a8ad-2ffa0b1d2602.js")
body
	
	section.hero
		.wrapper
			h1 Fix My Proposal

	header.site-header
		.wrapper
			.site-logo
				img(src="http://lorempixel.com/50/50/", alt="fix my proposal logo")
			nav.main-nav
				ul
					li
						a(href="#") Articles
					li
						a(href="#") Let's fix it!
	
	section.optin.optin-top
		.wrapper
			h2 Proposal reviews to help new designers & developers land quality projects today.
			p Leave me your email to get notified about launch date and receive my 
				strong client questionnaire
				| — a massive head start to gather info you need to write a successful proposal
			form.signup(method='POST')
				label(for='email')
				input(type='email', name='email', placeholder='Email Address…')
				input(type='submit', value='Put me on your list!')
	
	main
		.wrapper
			section.description
				div.callout.small
					| Launching in 
					span May!
				h3 Congrats, you've gone freelance! Now you're…  all alone?!
				p Speak to anyone who's been at this for a few years and they'll tell you that your first 3-5 projects will be a series of costly lessons learned the hard way.
				p
					| "Just the inevitable gauntlet of the novice freelancer".
					br
					| "Only the strong survive".
					br
					| "Gotta earn your stripes".
				p The cliches go on and on, but none of them help you learn!
				
				h4 Here's how I can help you level that learning curve
				p
					strong We schedule an appointment 
					| and you send me your proposal for review a week before our meeting.
				p
					strong We schedule an appointment 
					| and you send me your proposal for review a week before our meeting.
				p
					strong We schedule an appointment 
					| and you send me your proposal for review a week before our meeting.
				p More specifically I will help you:
				ul
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
					li Win client trust by using language which will resonate with them
				div.callout.large Packages & pricing coming in May!

			section.about
				img(src="http://lorempixel.com/250/250/", alt="Lucas Lemonnier")
				h4 Who am I and why am I doing this?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt sit, odit, praesentium, labore quam et porro atque qui architecto ipsum maxime vel. Sint tenetur eligendi veniam provident, optio assumenda.

	section.optin.optin-bottom
		.wrapper
			h2 Let me find the holes in your proposal before your client does.
			p Get notified about launch date & receive my free 
				stong client questionnaire. 
			form.signup(method='POST')
				label(for='email')
				input(type='email', name='email', placeholder='Email Address…')
				input(type='submit', value='Put me on your list!')